@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$danger: #e63946;
$dark: #353535;
$light: #edf2f4;

$custom-colors: (
    "teal": #3c6e71,
    "lt-green": #74c69d,
    "orange": #e76f51,
    "mint-blue": #cbf3f0,
    "lt-yellow": #fff3b0,
    "lt-red": #ffb3c1,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
